* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   
   :root{
       --darker: #452b2d;
       --dark: #452b2ddc;
   }
   
   html{
       scroll-behavior: smooth;
   }
   
 body{
    background-color: white;
    color: black;
   font-family: 'Nunito', sans-serif;
    
}



.homepage{
    display: grid;
    grid-template-rows: 50px calc(100vh - 50px););
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    
}

.topnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     height: 50px;
    background-color:white;
    color: #452b2d;
    border: 1px solid black;
  
}
.logo a{
    text-decoration: none;
    color: #452b2d;
    font-size: 14px;
    font-family: 'Popsins', sans-serif;
    padding-left: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo a span{
    padding: 5px;
    background: #452b2d;
    color: white;
    margin-right: 4px;
}
/* the desktop navigation  is hidden */
.topnav nav{
    display: none;
}

/* media queries for the sidebar this is for the large mobile screen  design */


@media screen and (min-width:751px){
    .topnav{
         position: fixed;
         top: 0;
         left: 0;
         z-index: 2;
    }
    .topnav nav{
    display: block;
    flex: 1;
    text-align: right;
}
  .topnav nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topnav nav ul li{
    display: inline-block;
    margin: 0 6px;
}

.topnav nav ul li a{
    color: #452b2d; 
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    position: relative;
    text-transform: uppercase;
    padding: 4px 7px;
    cursor: pointer;
   
  }
  .topnav nav ul li a:hover{
      padding: 7px;
      background-color: #452b2d;
      color: white;
      border-radius: 3px;
  }
  
  .menu-burger{
      display: none;
  }
  
   .sidebar{display: none;}
  
    .times{display: none;}
}


.menu-burger{
    padding-right: 10px;
    
}


.topnav .menu-burger{
    
}

.menu-burger .bars{
    width: 25px;
    height: 3px;
    margin: 6px 0;
    background-color: #452b2d;
    
}


.page-container{
    position: relative;
}

@media screen and (max-width:750px){
   .sidebar{
       position: absolute;
       top: 0;
       right: 0;
       height: 100%;
       width: 0%;
       z-index: 3;
       background-color: white;
      
       overflow: hidden;
       transition: 0.5s all;
       
       
   }
   .times{
    display: block;
    
    
}

.times img{
    margin: 10px;
    width: 25px;
}
   .sidebar nav{
        width: 100%;
        height: 100%;
        padding: 10px;
        
    }
    
    .sidebar nav a{
        display: block;
        margin: 15px 0;
        color: #452b2d;
        text-decoration: none;
        font-size: 20px;
    }
}

.hero-content{
width: 100%;
height: 700px;
display: flex;
justify-content: center;
align-items: center;
background-color:white;

padding: 10% 0;
border-bottom: 1px solid #452b2d;
}
.hero-content small{
    font-size: 0.8rem;
    margin: 0 5px;
}
.hero-content .text{
    padding: 0 10px;
    line-height: 1.3;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400px;
    position: relative;
    margin-top: 15%;
    color: #452b2d;
   font-family: 'Poppins', sans-serif;
   
}

.hero-content .text span{
   font-size: 2.2rem;
    font-weight: 700;
}



.heroimg img{
    width: 200px;
    height: 200px;
    margin: 100px 0;
    background-position: center;
    
}
.heroimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content .small{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.hero-content .cta:hover{
    background-color: #2e242a;
    color: white;
}



.container1  h2{
       
       font-size:2rem;
    text-align: center;
    font-weight: 700;
    color:  #452b2d;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}


.container1 {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 4%;
    color: white;
    font-family: 'Poppins', san-serif;
}


.container1 .contentbox{
   display: grid;
   grid-template-columns: 1fr 1fr;
 grid-gap: 20px;
  margin-top: 10%;
}

@media screen and (max-width:750px){
 .content-1{
     grid-area: 2 / span 2;
 }
   .content-2{
     grid-area: 1 / span 2;
 }
 .content-3{
     grid-area: 3 / span 2;
 }
 .content-4{
     grid-area: 4 / span 2;
 }
 .content-5{
     grid-area: 6 / span 2;
 }
 .content-6{
     grid-area: 5 / span 2;
   }
 
}

 [class*="content-"]{
    font-size: 1rem;
    align-self: center;
    padding: 3px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--dark);
    font-family: 'Nunito', sans-serif;
    text-align: justify;
} 


 .img img{
     object-fit: cover;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     transition: 0.3s;
     cursor: pointer;
 }
 
  .img img:hover{
    transform: scale(1.4);
  }
  
   .img{
    overflow: hidden;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   background-color: #2e242a;
}


.container2{
    padding: 4%;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #2e242a;
    border-top: 1px solid #2e242a;
    color: #452b2d;
}
.col-6{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 40px;
    padding: 10px 0;
}

.progress-con{
    width: 100%;
    background-color: lightgrey;
   
    
}
.bar-90{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 90%;
    background-color: #452b2d;
    text-align: center;
    font-size: 18px;
    margin: 10px 0 30px 0;
    color: white;
    
}

.bar-70{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70%;
    background-color: #452b2d;
    text-align: center;
    font-size: 18px;
    margin: 10px 0 30px 0;
    color: white;
    
}

.container2 h2{
    text-align: center;
     padding-bottom: 2%;
     letter-spacing: 5px;
     color: #452b2d;
     font-size: 30px;
     font-weight: 700;
     font-family: 'Poppins', sans-serif;
     } 
     
     
     .container2 .brand{
    text-align: left;
    font-size: 35px;
    padding: 10px 0;
    text-align: left;
    font-weight: 900;
    color: #452b2d;
}

.container2 p{
    font-size: 16px;
    line-height: 20px;
    color: #452b2d;
    font-weight: 400;
}

.container2 h3{
    padding: 20px  0;
    color: #2e242a;
    font-size: 24px;
    font-weight: 600;
}
.container2 ul{
    list-style-type: none;
}

.container2 ul li{
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}


.container2 ul li img{
    width: 25px;
}


.container2 img{
    max-width: 100%;
}

.container3{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    padding: 4%;
    background-color: white;
    overflow: hidden;
    color: #452b2d;
   
}


.backoverlay{
    background-image: linear-gradient(rgba(255,255,255,0.2) 60%,  rgba(255,255,255,1) 40%);
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container3 > h2{
    font-size: 2.8rem;
    padding: 10px 0;
    text-align: left;
    font-weight: 700;
    color: #452b2d;
    font-family: 'Poppins', sans-serif;
}

.container3 h4{
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 15px;
    color: #452b2d;
}


.slider{
 display: grid;
 grid-template-columns: 1fr ;
 grid-gap: 25px;
 height: 100%;
 width: 100%;
 margin: 20px 0;
 overflow: hidden;

 
}

.slider [class*="card-"]{
   width: 100%;
   min-height: 350px;
   max-height: 500px;
   position: relative;
   border-radius: 15px;
   color: white;
   border: 6px solid #452b2d;
   overflow: hidden;
}

.slider [class*="card-"] img{
   width: 100%;
   height: 100%;
   display: block;
   align-self: flex-start;
   
   transition: 0.5s;
   object-fit: cover;
   }

.slider [class*="card-"]:hover img{
    transform: scale(1.3);
}

.slider [class*="card-"] .overlay a{
   
    color: #eb8a04;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 17px;
}

.slider [class*="card-"] .overlay p{
    color: #eb8a04;
    font: 0.8rem;
}

.slider [class*="card-"] .overlay{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: #f4b464;
  
}


.slider .overlay  p{
    font-size: 0.8rem;
    font-weight: bold;
}

.slider .overlay h2{
    font-size: 1.9rem;
    font-weight: 600;
    text-align: left;
    padding: 10px 0;
    
}

.portrait-section{
    margin: 40px 0;
    height: 100%;
}
.portrait-section h3{
    padding: 30px 0;
    font-size: 2rem;
    font-weight: 350;
}
.portrait-section .photo-con{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    height: 600px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
   
    
}
.portrait-section .photo-con img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.3);
    
}


.portrait-section .btn-con{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

 .btn-con button{
    border: 2px solid #452b2d;
    background-color: white;
    color: #452b2d;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    outline: none;
    font-weight: bolder;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
    transition: 0.5s background;
}
.btn-con button:hover{
  background-color: #452b2d;
  color: white;
}


.container4{
    width: 100%;
    height: 100%;
    padding: 4%;
    background-color: white;
  
}

.container4 .grid-con{
    display: grid;
    grid-template-columns:  1fr;
   grid-gap: 10px;
}

.container4 .location-img{
    width: 100%;
    border-radius: 15px;
}
.container4 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #2e242a;
    font-weight: 700;
    padding-top: 20px;
}

.container4 .imgtext{
    display: flex;
    align-items: center;
    column-gap: 15px;
    
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 20px 0;
}
.container4 .contact a{
    text-decoration: none;
    color: #452b2d;
}
.container4 .contact{
    padding: 30px 0;
}

.container4 .contact img{
    width: 100%;
    height: 50%;
}

.container4 .grid-con .imgtext img{
    width: 25px;
}

.container4 .grid-con img{
    width: 100%;
    
}

.comment img{
    width: 30px;
    height: 30px;
}
.feedbacks{
    margin: 20px 0;
    color: #452b2d;
}
.feedbacks .imgtext2{
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}
.feedbacks .imgtext2 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.feedbacks{
    font-weight: 400;
    font-size: 15px;
}
.container4 h4{
    font-size: 27px;
    padding: 0px 0;
    font-weight: 450;
    color: #2e242a;
}
.feedbacks p{
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400;
    
}
.comment{
    border: 1px solid #2e242a;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 0;
}

.footer{
  
    background-color: #140f12ff;
    height: 100%;
   
   padding: 5%;
}
.footer a{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    width: 100%;
}
.footer a span{
    font-size: 25px;
    font-weight: 800;
}
.footer h2{
    font-size: 17px;
    color: white;
    margin-top: 90px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
.footer .socials{
    margin: 5px 0;
    display: flex;
   justify-content: center;
}
.footer .socials img{
    width: 25px;
    margin: 0 10px;
}

@media screen and (min-width:400px){
[class*="content-"]{
    font-size: 1.2rem;
    align-self: center;
    padding: 2px;
    color: #452b2d;
  }
    
 
 .container2 p{
     font-size: 18px;
 }
 
 
 .hero-content .text{
    font-size: 1.4rem;
}

.hero-content .text span{
   font-size: 2.5rem;
}



.heroimg img{
    width: 240px;
    height: 240px;
    
    
}

.hero-content .small{
    font-size: 1.5rem;
    
}
}



@media(min-width:500px){
    [class*="content-"]{
    font-size: 1.3rem;
  }
  
     .hero-content .text{
    font-size: 1.6rem;
}

.hero-content .text span{
   font-size: 2.8rem;
}



.heroimg img{
    width: 280px;
    height: 280px;
    
    
}

.hero-content .small{
    font-size: 1.6rem;
    
}
.container1  h2{
    font-size: 2.5rem;
}
}

@media(min-width:600px){
    .slider .overlay h2{
        font-size: 2.3rem;
    }
    
    .slider [class*="card-"] .overlay{
        font-size: 1rem;
    }
  .portrait-section .photo-con{ grid-template-columns: 1fr  1fr;}
  
  .container4 h2{
      font-size: 4.06rem;
  }
  .portrait-section h3{
      font-size: 2.5rem;
  }
  .container3 > h2{
      font-size: 55px;
  }
  
  .container3  h4{
      font-size: 35px;
  }
  
  .hero-content{
      height: calc(800px - 50px);
  }
  
}


@media(min-width:700px){
      [class*="content-"]{
          font-size: 1.4rem;
              
      }
      
      .hero-content .text{
    font-size: 1.8rem;
}

.hero-content .text span{
   font-size: 3.1rem;
}



.heroimg img{
    width: 310px;
    height: 310px;
    
    
}

.hero-content .small{
    font-size: 2rem;
    
}

.hero-content{
      height: calc(900px - 50px);
  }

}


@media(min-width:800px){
    
    .slider [class*="card-"] .overlay p{
        font-size: 1rem;
    }
    .col-6{
        grid-template-columns: 1fr 1fr;
    }
    
    .container4 .grid-con{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 45px;
   
}
  .portrait-section .photo-con{ grid-template-columns: 1fr 1fr 1fr;}
  
  .container4 h2{
      font-size: 5rem;
  }
  .portrait-section h3{
      font-size: 3rem;
  }
  .container3 > h2{
      font-size: 65px;
  }
}

@media(max-width:700px){
    
.slider [class*="card-"]{
    min-height: 350px;
    max-heiht: 500px;
}

.container{
    position: relative;
  }

}

@media screen and (min-width:1000px){
   [class*="content-"]{
          font-size: 1.6rem;
              
      }
  
  .card-1{
        grid-area: 1 / 1;
        grid-gap: 40px;
    }
    .card-2{
        grid-area: 2/2;
         grid-gap: 40px;
    }
    .card-3{
        grid-area: 3/1;
         grid-gap: 40px;
    }
    .col-6{
       grid-template-columns: 1fr 1fr;
   }
   
   .slider [class*="card-"]{
       height: 50vw;
   }
   
   .slider .overlay h2{
       font-size: 3rem;
   }
   .slider [class*="card-"] .overlay p{
       font-size: 1.4rem;
   }
}

